<section class="bg-blue-900 text-white py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Contact Me</h2>
    <p class="text-lg mb-8">You can contact me through the contact information below.</p>
    <div class="flex justify-center">
      <div class="p-4">
        <i class="fas fa-envelope text-3xl"></i>
        <p class="mt-2">Email: cindyliunadi@gmail.com</p>
      </div>
      <div class="p-4">
        <i class="fas fa-phone text-3xl"></i>
        <p class="mt-2">Phone: 081369053160</p>
      </div>
      <div class="p-4">
        <i class="fas fa-map-marker-alt text-3xl"></i>
        <p class="mt-2">Address: Jakarta, Indonesia</p>
      </div>
    </div>
  </div>
</section>
