<section class="bg-blue-500 text-white py-20">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold mb-4">Hi, i'm Patricia Cindy Liunadi</h1>
      <p class="text-lg">I am a frontend developer at Telkom Indonesia</p>
      <a href="portofolio.html" class="bg-white text-blue-500 font-bold px-6 py-3 rounded-full mt-8 inline-block">Lihat Portofolio</a>
    </div>
  </section>
  