<section class="bg-gray-100 py-20">
    <div class="container mx-auto">
      <h2 class="text-3xl text-center font-bold mb-8">Portofolio Saya</h2>
      <div class="grid grid-cols-3 gap-8">
        <div class="bg-white rounded-lg shadow-lg p-4">
            <img src="image1.png" alt="image1" style="max-width: 600px; max-height: 600px;">
            <h3 class="text-xl font-bold mb-2">Groupify</h3>
            <p class="text-gray-600">Groupify merupakan website yang dibuat untuk membantu mahasiswa dalam membentuk kelompok.</p>
          </div>
          <div class="bg-white rounded-lg shadow-lg p-4">
            <img src="image2.png" alt="image2" style="width: 600px; ">
            <h3 class="text-xl font-bold mb-2">BeeOffice</h3>
            <p class="text-gray-600">BeeOffice yang berfungsi untuk generate nomor surat dan e-sign.</p>
          </div>
          <div class="bg-white rounded-lg shadow-lg p-4">
            <img src="image3.png" alt="image3" style="max-width: 600px; max-height: 600px;">
            <h3 class="text-xl font-bold mb-2">Meeting Room</h3>
            <p class="text-gray-600">Mendesign UI Website Meeting Room yang berfungsi untuk booking meeting room</p>

            <a href="contact.html" class="bg-white text-blue-500 font-bold px-6 py-3 rounded-full mt-8 inline-block">Contact Me</a>
          </div>
          
          
      </div>
    </div>
  </section>
  